*.o
configure
autom4te.cache/
config.log
config.h.in
config.h
config.guess
config.status
config.sub
install-sh
no_edit_header
Makefile
examples/Makefile
vp_compA*.c
vp_warpA*.c
makeopts
vp_opts.c
libvolpack.*
